<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% load staticfiles %} {# jinja logic to reference static files #}
    {# Loads bootstrap #}
    <link rel='stylesheet' href="{% static 'forum/css/bootstrap.min.css' %}" type="text/css">
    <link rel='stylesheet' href="{% static 'forum/css/base.css' %}" type="text/css">
    {# Loads style for markdown editor #}
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'plugins/css/semantic.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'draceditor/css/draceditor.css' %}" type="text/css" media="all" rel="stylesheet"/>
    {# Load the CDN first #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {# If CDN fails to load, serve up the local version #}
     <script src="{% static 'forum/js/jquery-3.1.1.min.js' %}"></script>
    {# Load bootstrap #}
    <script src="{% static 'forum/js/bootstrap.min.js' %}"></script>
    {% block head %}


    {% endblock %}

</head>
<body class="body body_color">
{#Script for displaying tooltips#}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({placement: "bottom"});
    });
</script>

{#Main container class for content, scales automatically#}
<div class="container-fluid">
    <div class="left">
        <a class="btn btn-default no_color_header_button" href="/forum" role="button">
            <label>&nbsp;<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</label>&nbsp;

        </a>
    </div>
    {% block header-button %}

    {% endblock %}
    <div class="left">
        <form action="/forum/search/" type="get" action=".">
            <input type="text" id="search" name="q" placeholder=" Search all questions..">
            <button class="btn btn-default no_color_header_button" type="submit">Search</button>
        </form>
    </div>
    <div class="right">
        {% if user.username %}
            <div>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button"
                            data-toggle="dropdown">{{ user.username }}&nbsp;<span
                            class="glyphicon glyphicon-circle-arrow-down"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/forum/my_question" role="button">My questions</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/forum/logout" role="button">Log out</a>
                        </li>
                    </ul>
                </div>

            </div>
        {% else %}
            <div>
                <a class="btn btn-default green_button" href="/forum/register/" role="button">
                    <label><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Register</label>

                </a>
                <a class="btn btn-default blue_button" href="/forum/login" role="button">
                    <label>&nbsp;<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Log in</label>&nbsp;

                </a>

            </div>
        {% endif %}
    </div>

    <div class="main_container">

        {% block container-fluid %}

        {% endblock %}
    </div>
</div>
{# Loads scripts required for markdown #}
<script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/semantic.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
<script type="text/javascript" src="{% static 'draceditor/js/draceditor.js' %}"></script>
</body>
</html>