<!DOCTYPE html>
<html lang="en"></html>
<head>
    <title>Showing question text</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width-device-width, initla-scale-1.0">
    {% load staticfiles %} {# jinja logic to reference static files #}
    <link rel='stylesheet' href="{% static 'forum/css/bootstrap.min.css' %}" type="text/css">
</head>
<body class="body" style="background-color: #f6f6f6">

<div class="container-fluid">
{% for question in detailed_question %}
    <br><a href="/forum/answers"{{ question.answers.id}}>{{ question.question_text }}</a>
{% endfor %}

<br><a href="/forum/">Go back</a>
</div>
</body>
</html>