{% extends 'forum/base.html' %}
{# Sets title #}
{% block title %}Topics{% endblock %}

{% block header-button %}
    {% if perms.forum.delete_question %} {# Check whether current user is allowed to create new subject #}
        <div class="left">
            <a class="btn btn-default green_button" href="new_topic" role="button">Create new subject</a>
        </div>
    {% endif %}
{% endblock %}

{% block container-fluid %}
    <br>
    <h2>Subject</h2>
    {% if topics_list %} {# Check if topics/subjects exists #}
        {# Searchbar #}
        <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" id="searchFunc" onkeyup="searchFunction()" placeholder="Search for subjects.."
                   title="Type in a name">
        </div>
        {# Table of all subjects #}
        <table id="topicTable">
            <tr class="header">
                <th id="subject">Subject code</th>
                <th id="code">Subject name</th>
            </tr>
            {% for topic in topics_list %}
                <tr>
                    <td>
                        <a class="table-link" href="/forum/topics/{{ topic.id }}">
                            <div class="table-content"  id="t{{ topic.id }}">
                                {{ topic.topic_name }}
                            </div>
                        </a>
                    </td>
                    <td>
                        <a class="table-link" href="/forum/topics/{{ topic.id }}">
                            <div class="table-link">
                                {{ topic.topic_desc }}
                            </div>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>


        {#Search script for searching in table#}
        <script src="../../static/forum/js/Search_table.js"></script>

    {% else %}
        {#Displays default no topic page#}
        <p>No created topic.</p>
    {% endif %}


{% endblock %}