{% extends "forum\base.html" %}
{% block title %}Index of forum{% endblock %}
{% load filters %}
{% block head %}
    <style>
        .circle {
            border-radius: 100%;
            border: 0.22em solid black;
            height: 25px;
            width: 25px;
        }

        .glyphicon.glyphicon-chevron-up {
            font-size: 17px;
            padding-left: 1.6px;
        }

        .glyphicon.glyphicon-chevron-down {
            padding-left: 1.6px;
            padding-top: 2px;
            font-size: 17px;
        }

        .glyphicon.glyphicon-remove {
            padding-left: 1px;
            padding-top: 1px;
            font-size: 17px;
        }

        .submit-with-icon {
            background: transparent;
            border: 0px;
            padding: 0;
            outline: 0;
        }

        .circle:active {
            content: '';
            background-color: rgb(235, 235, 235);
            border-color: rgb(173, 173, 173);
        }

        .initiallyHidden {
            display: none;
            min-width: 150vh;  {# TODO: fix implementation #}
            margin-left:10px ;
        }

        ul {
            list-style-type: none;
            margin-right: 0px;
            padding: 0px;
        }

        .scroll {
            height: 86vh;
            overflow-y: auto;
        }

        div#feed {
            width: 350px;
            float: left;
            background-color: #e8e8e8;
            border-top: 2px solid #636363;
            border-right: 3px solid #636363;
        }

        div#feed li {
            cursor: pointer;
            border-bottom: 3px solid #f6f6f6;
        }

        div#feed li:hover {
            background-color: #d3d3d3;
        }

        div#detail {
            position: absolute;
            float: left;
            left: 370px;
        }
    </style>

{% endblock %}

{% block header-button %}
    <div class="left">
        <a style="height:2.2em;display:inline;" class="btn btn-default" href="new_question" role="button">Create new
            question</a>
    </div>
{% endblock %}

{% block container-fluid %}

    <h1>Current subject: {{ topic_name }}</h1>
    {% if latest_questions_list %}
        <div id='feed' class="scroll">
            <ul>
                {% for q in latest_questions_list %}
                    <li id='b{{ forloop.counter }}'>{{ q.question_name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id='detail' class="scroll">
            <ul>
                {% for q in latest_questions_list %}
                    <div class='initiallyHidden' id='b{{ forloop.counter }}c'>
                        <p>{{ q.question_text }}</p>

                        <div>
                            <form action="/forum/upvote/" method="post">
                                {% csrf_token %}
                                <div class="circle" style="float:left;">
                                    <input type="hidden" value="{{ q.id }}" name="pk_question">
                                    <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                    <button type="submit" class="submit-with-icon">
                                        <span class="glyphicon glyphicon-chevron-up"></span>
                                    </button>
                                </div>
                            </form>
                            <label style="float:left;">&nbsp{{ var|votes:q }}&nbsp</label>
                            <form action="/forum/downvote/" method="post">
                                {% csrf_token %}
                                <div class="circle" style="float:left;">
                                    <input type="hidden" value="{{ q.id }}" name="pk_question">
                                    <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                    <button type="submit" class="submit-with-icon">
                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                    </button>
                                </div>
                            </form>
                            {% if perms.forum.delete_question %}
                                <form action="/forum/delete_question_in_index/" method="post">
                                    {% csrf_token %}
                                    <div class="circle" style="float:left;margin-left:2em;">
                                        <input type="hidden" value="{{ q.id }}" name="pk_question">
                                        <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                        <button type="submit" class="submit-with-icon">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                </form>
                            {% endif %}
                            </form>
                        </div>
                        <br>
                        <p>{{ q.answers.answer_text }}</p>
                        <br>
                        {% for answer in answer_list %}
                            {% if answer.question_id == q.id %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-md-6">{{ answer.get_user }}</div>
                                            <div class="col-md-6">
                                                <p style="float:left;">Created: {{ answer.answer_created }}</p>
                                                <form action="/forum/upvote_answer/" method="post">
                                                    {% csrf_token %}
                                                    <div class="circle" style="float:left;margin-left:2em">
                                                        <input type="hidden" value="{{ answer.id }}" name="pk_answer">
                                                        <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                                        <button type="submit" class="submit-with-icon">
                                                            <span class="glyphicon glyphicon-chevron-up"></span>
                                                        </button>
                                                    </div>
                                                </form>
                                                <label style="float:left;">&nbsp{{ variable|votes:answer }}&nbsp</label>
                                                <form action="/forum/downvote_answer/" method="post">
                                                    {% csrf_token %}
                                                    <div class="circle" style="float:left;">
                                                        <input type="hidden" value="{{ answer.id }}" name="pk_answer">
                                                        <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                                        <button type="submit" class="submit-with-icon">
                                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        {{ answer.answer_text }}
                                    </div>
                                </div>
                                <br>
                            {% endif %}
                        {% endfor %}
                        <form class="new_question" action="/forum/new_answer/" method='post'>
                            {% csrf_token %}
                            {{ form.answer_text }}
                            <input type="hidden" value="{{ q.id }}" name="question">
                            {{ form.topic.as_hidden }}
                            <br><input type='submit' class="btn btn-default" value='Submit'/>
                        </form>
                    </div>
                {% endfor %}
            </ul>
        </div>

    {% else %}
        <p>No questions are available.</p>
    {% endif %}

    <script>
        $(function () {
            var toggled = ""
            $("div#feed li").click(function () {
                var id = "" + this.id;
                $(toggled).toggle();
                $("#" + id + "c").toggle();
                toggled = "#" + id + "c"


            });
        });
    </script>
{% endblock %}

