<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index of forum</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width-device-width, initla-scale-1.0">
    {% load staticfiles %} {# jinja logic to reference static files #}
    <link rel='stylesheet' href="{% static 'forum/css/bootstrap.min.css' %}" type="text/css">
</head>
<body class="body" style="background-color: #f6f6f6">


<div class="container-fluid">
{% if latest_questions_list %}
    <ul>
    {% for question in latest_questions_list %}
        <li>Topic: {{ question.question_topic }} - <a href="/forum/{{ question.id }}/">{{ question.question_name }}</a> Question text: {{ question.question_text }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No questions are available.</p>
{% endif %}
</div>
</body>
</html>