{% extends 'forum/base.html' %}
{% block title %}Index of forum{% endblock %}
{% load filters %}
{% block head %}
    <style>
        .circle {
            border-radius: 100%;
            border: 0.22em solid black;
            height: 25px;
            width: 25px;
        }

        .glyphicon.glyphicon-chevron-up {
            font-size: 17px;
            padding-left: 1.6px;
        }

        .glyphicon.glyphicon-chevron-down {
            padding-left: 1.6px;
            padding-top: 2px;
            font-size: 17px;
        }

        .glyphicon.glyphicon-remove {
            padding-left: 1px;
            padding-top: 1px;
            font-size: 17px;
        }

        .submit-with-icon {
            background: transparent;
            border: 0px;
            padding: 0;
            outline: 0;
        }

        .circle:active {
            content: '';
            background-color: rgb(235, 235, 235);
            border-color: rgb(173, 173, 173);
        }

        .initiallyHidden {
            display: none;
            min-width: 150vh;
        {# TODO: fix implementation #} margin-left: 10px;
        }

        ul {
            list-style-type: none;
            margin-right: 0px;
            padding: 0px;
        }

        .scroll {
            height: 86vh;
            overflow-y: auto;
        }

        div#feed {
            width: 350px;
            float: left;
            background-color: #e8e8e8;
            border-top: 2px solid #636363;
            border-right: 3px solid #636363;
        }

        div#feed li {
            cursor: pointer;
            border-bottom: 3px solid #f6f6f6;
        }

        div#feed li:hover {
            background-color: #d3d3d3;
        }

        div#detail {
            position: absolute;
            float: left;
            left: 370px;
        }
    </style>

{% endblock %}

{% block header-button %}
    <div class="left">
        <a style="height:2.2em;display:inline;" class="btn btn-default" href="new_question" role="button"
           id="registration_button">Create new
            question</a>
    </div>
{% endblock %}

{% block container-fluid %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip-right"]').tooltip({placement: "right"});
        });
    </script>
    <h1>Current subject: {{ topic_name }}</h1>
    {% if latest_questions_list %}
        <div id='feed' class="scroll">
            <ul>
                {% for q in latest_questions_list %}
                    <li id='b{{ q.id }}' style="padding:0.7em">{{ q.question_name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id='detail' class="scroll">
            <ul>
                {% for q in latest_questions_list %}
                    <div class='initiallyHidden' id='b{{ q.id }}c'>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Question posted by: {{ q.user }}</label>

                                        <div>
                                            <form action="/forum/upvote/" method="post">
                                                {% csrf_token %}
                                                <div class="circle" style="float:left;">
                                                    <input type="hidden" value="{{ q.id }}" name="pk_question">
                                                    <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                                    <button type="submit" class="submit-with-icon" id="upvote">
                    <span data-toggle="tooltip-right" title="Upvote question"
                          class="glyphicon glyphicon-chevron-up"></span>
                                                    </button>
                                                </div>
                                            </form>
                                            <label style="float:left;">&nbsp{{ var|votes:q }}&nbsp</label>
                                            <form action="/forum/downvote/" method="post">
                                                {% csrf_token %}
                                                <div class="circle" style="float:left;">
                                                    <input type="hidden" value="{{ q.id }}" name="pk_question">
                                                    <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                                    <button type="submit" class="submit-with-icon" id="downvote">
                    <span data-toggle="tooltip-right" title="Downvote question"
                          class="glyphicon glyphicon-chevron-down"></span>
                                                    </button>
                                                </div>
                                            </form>
                                            {% if perms.forum.delete_question %}
                                                <form action="/forum/delete_question_in_index/" method="post">
                                                    {% csrf_token %}
                                                    <div class="circle" style="float:left;margin-left:2em;">
                                                        <input type="hidden" value="{{ q.id }}" name="pk_question">
                                                        <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                                        <button type="submit" class="submit-with-icon" id="remove">
                        <span data-toggle="tooltip-right" title="Delete question"
                              class="glyphicon glyphicon-remove"></span>
                                                        </button>
                                                    </div>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                {{ q.question_text }}
                            </div>
                        </div>
                        <br>
                        <br>
                        {% for answer in q.answers.all %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {% if answer.is_teacher %}
                                                <label>Answer by teacher: {{ answer.get_user }}</label>
                                            {% else %}
                                                <label>Answer by student: {{ answer.get_user }}</label>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-6">
                                            <p style="float:left;">Created: {{ answer.answer_created }}</p>
                                            <form action="/forum/upvote_answer/" method="post">
                                                {% csrf_token %}
                                                <div class="circle" style="float:left;margin-left:2em">
                                                    <input type="hidden" value="{{ q.id }}" name="pk_question">
                                                    <input type="hidden" value="{{ answer.id }}" name="pk_answer">
                                                    <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                                    <button type="submit" class="submit-with-icon">
                                <span data-toggle="tooltip-right" title="Upvote answer"
                                      class="glyphicon glyphicon-chevron-up"></span>
                                                    </button>
                                                </div>
                                            </form>
                                            <label style="float:left;">&nbsp{{ variable|votes:answer }}&nbsp</label>
                                            <form action="/forum/downvote_answer/" method="post">
                                                {% csrf_token %}
                                                <div class="circle" style="float:left;">
                                                    <input type="hidden" value="{{ q.id }}" name="pk_question">
                                                    <input type="hidden" value="{{ answer.id }}" name="pk_answer">
                                                    <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                                    <button type="submit" class="submit-with-icon">
                                <span data-toggle="tooltip-right" title="Downvote answer"
                                      class="glyphicon glyphicon-chevron-down"></span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    {{ answer.answer_text }}
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                        <form class="new_question" action="/forum/new_answer/" method='post'>
                            {% csrf_token %}
                            {{ form.answer_text }}
                            <input type="hidden" value="{{ q.id }}" name="question">
                            {{ form.topic.as_hidden }}
                            <br><input type='submit' class="btn btn-default" value='Submit'/>
                        </form>
                    </div>
                {% endfor %}
            </ul>
        </div>

    {% else %}
        <p>No questions are available.</p>
    {% endif %}

    <script>
        var toggled = ""

        function findGetParameter(parameterName) {
            var result = null,
                tmp = [];
            location.search
                .substr(1)
                .split("&")
                .forEach(function (item) {
                    tmp = item.split("=");
                    if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                });
            return result;
        }

        $(function () {

            var field = 'cid';
            var url = window.location.href;
            if (url.indexOf('?' + field + '=') != -1) {
                var pk_question = findGetParameter(field);
                $("#b" + pk_question).css("background-color", "#d3d3d3");
                $("#b" + pk_question + "c").toggle();
                toggled = "#b" + pk_question;
            }

            $("div#feed li").click(function () {
                var id = "" + this.id;
                $(toggled + "c").toggle();
                $("#" + id + "c").toggle();
                $(toggled).css("background-color", "#e8e8e8");
                toggled = "#" + id;
                $(toggled).css("background-color", "#d3d3d3");

            });
        });
    </script>


{% endblock %}


