{% extends 'forum/base.html' %}
{# Loads markdown tags #}
{% load dractags %}
{% block title %}Your questions{% endblock %}

{% block container-fluid %}
    <br>
    <h1>List of your questions</h1>
    {# Displays questions in my_question_list in accordion view #}
    {% if my_question_list %}
        <div class="panel-group" id="accordion">
            {% for question in my_question_list %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
                                <div class="row">
                                    <div class="col-md-4">{{ question.question_name }}</div>
                                    <div class="col-md-4">Last changed: {{ question.question_updated }}
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-default"
                                           href="{% url "delete_question" question_id=question.id %}">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>{{ question.question_text|safe_markdown }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No questions are available.</p>
    {% endif %}
    <br>
{% endblock %}