{% extends 'registration/base_login.html' %}
{% block title %}New question{% endblock %}
{% block content %}
    <h2 style="white-space: nowrap">New Question</h2>
    <form class="new_question" method='post'>
        {% csrf_token %}
        <label>Name: </label>
        {{ form.question_name }}
        <label>Description: </label>
        {{ form.question_text }}
        <label>Suitable for quiz?: </label>{{ form.question_SuitableForQuiz }}
        {{ form.question_topic.as_hidden }}
        <br><input type='submit' class="btn btn-default" value='Submit' id="button"/>
    </form>
{% endblock %}