<!DOCTYPE html>
<html lang="en">
<head>
    <title>New topic</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width-device-width, initla-scale-1.0">
    {% load staticfiles %} {# jinja logic to reference static files #}
    <link rel='stylesheet' href="{% static 'forum/css/bootstrap.min.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'forum/js/bootstrap.min.js' %}"></script>
</head>
<body class="body" style="background-color: #f6f6f6">


<div class="container-fluid">

    <h1>New topic</h1>
    <form class="new_question" method='post'>
        {% csrf_token %}
        <label>Name: </label>
        {{ form.topic_name }}
        <label>Description: </label>
        {{ form.topic_desc }}
        <br><input class="btn btn-default" type='submit' value='Submit'/>

    </form>

</div>


</body>
</html>