{% extends "forum\base.html" %}
{% block title %}Search form{% endblock %}
{% block header-button %}
    <div class="left">
    <form type="get" action="." style="padding-left: 1em">
        <input type="text" name="q">
        <button class="btn btn-default" type="submit" style="height:2.2em;display:inline;">Search</button>
    </form>
    </div>

{% endblock %}
{% block container-fluid %}
    {#Lists questions#}
    {% for q in questions %}

        <a class="btn btn-default" href="/forum/topics/{{ q.question_topic }}/?cid={{ q.pk }}" role="button"
           id="registration_button">Create new
            question</a>
        <h1>{{ q.question_name }}</h1>
        <p>
            {{ q.question_text }}
            {{ q.question_created }}
    {{ q.question_topic}}
        </p>
    {% endfor %}

{% endblock %}