{% extends 'forum/base.html' %}
{% block title %}Index of forum{% endblock %}
{% load filters %}
{% block header-button %}
    <div class="left">
        <a class="btn btn-default green_button" href="new_question"
           role="button"
           id="registration_button">Create new
            question</a>
    </div>
{% endblock %}

{% block container-fluid %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip-right"]').tooltip({placement: "right"});
        });
    </script>
    <h1>Current subject: {{ topic_name }}</h1>
    {% if latest_questions_list %}
        <div id='feed' class="scroll">
            <ul>
                {% for q in latest_questions_list %}
                    {% if q.answers.all %}
                        <li id='b{{ q.id }}' style="padding:0.7em">{{ q.question_name }}</li>
                    {% else %}
                        <li id='b{{ q.id }}'
                            style="padding:0.7em;">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ q.question_name }}
                                </div>
                                <div class="col-md-6">
                                    <label style="color: #EF233C;">New question!</label>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div id='detail' class="scroll">
            <ul>
                {% for q in latest_questions_list %}
                    <div class='initiallyHidden' id='b{{ q.id }}c'>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Question posted by: {{ q.user }}</label>

                                        <div>
                                            <form action="/forum/up_vote/" method="post">
                                                {% csrf_token %}
                                                <div class="circle" style="float:left;">
                                                    <input type="hidden" value="{{ q.id }}" name="pk_question">
                                                    <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                                    <button type="submit" class="submit-with-icon">
                    <span data-toggle="tooltip-right" title="Up_vote question"
                          class="glyphicon glyphicon-chevron-up"></span>
                                                    </button>
                                                </div>
                                            </form>
                                            <label style="float:left;">&nbsp{{ var|votes:q }}&nbsp</label>
                                            <form action="/forum/down_vote/" method="post">
                                                {% csrf_token %}
                                                <div class="circle" style="float:left;">
                                                    <input type="hidden" value="{{ q.id }}" name="pk_question">
                                                    <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                                    <button type="submit" class="submit-with-icon">
                    <span data-toggle="tooltip-right" title="Down_vote question"
                          class="glyphicon glyphicon-chevron-down"></span>
                                                    </button>
                                                </div>
                                            </form>
                                            {% if perms.forum.delete_question %}
                                                <form action="/forum/delete_question_in_index/" method="post">
                                                    {% csrf_token %}
                                                    <div class="circle" style="float:left;margin-left:2em;">
                                                        <input type="hidden" value="{{ q.id }}" name="pk_question">
                                                        <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                                        <button type="submit" class="submit-with-icon">
                        <span data-toggle="tooltip-right" title="Delete question"
                              class="glyphicon glyphicon-remove"></span>
                                                        </button>
                                                    </div>
                                                </form>
                                            {% endif %}
                                            {% if q.user.username == user.username %}
                                                <form action="/forum/mark_as_solved/" method="post">
                                                    {% csrf_token %}
                                                    <div class="circle" style="float:left;margin-left:1em;">
                                                        <input type="hidden" value="{{ q.id }}" name="pk_question">
                                                        <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                                        <button type="submit" class="submit-with-icon">
                                                            {% if q.question_solved == True %}
                                                                <span data-toggle="tooltip-right" title="Undo mark as solved" class="glyphicon glyphicon-ok"
                                                                      style="color:#00ff00"></span>
                                                            {% endif %}
                                                            {% if q.question_solved == False %}
                                                                <span data-toggle="tooltip-right" title="Mark as solved" class="glyphicon glyphicon-ok"
                                                                      style="color:#ff0000"></span>
                                                            {% endif %}
                                                        </button>
                                                    </div>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                {{ q.question_text }}
                            </div>
                        </div>
                        {% if q.answers.all %}

                            {% for answer in q.answers.all %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-md-6">
                                                {% if answer.is_teacher %}
                                                    <label>Answer by teacher: {{ answer.get_user }}</label>
                                                {% else %}
                                                    <label>Answer by student: {{ answer.get_user }}</label>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-6">
                                                <p style="float:left;">Created: {{ answer.answer_created }}</p>
                                                <form action="/forum/up_vote_answer/" method="post">
                                                    {% csrf_token %}
                                                    <div class="circle" style="float:left;margin-left:2em">
                                                        <input type="hidden" value="{{ q.id }}" name="pk_question">
                                                        <input type="hidden" value="{{ answer.id }}" name="pk_answer">
                                                        <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                                        <button type="submit" class="submit-with-icon">
                                <span data-toggle="tooltip-right" title="Up_vote answer"
                                      class="glyphicon glyphicon-chevron-up"></span>
                                                        </button>
                                                    </div>
                                                </form>
                                                <label style="float:left;">&nbsp{{ variable|votes:answer }}&nbsp</label>
                                                <form action="/forum/down_vote_answer/" method="post">
                                                    {% csrf_token %}
                                                    <div class="circle" style="float:left;">
                                                        <input type="hidden" value="{{ q.id }}" name="pk_question">
                                                        <input type="hidden" value="{{ answer.id }}" name="pk_answer">
                                                        <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                                        <button type="submit" class="submit-with-icon">
                                <span data-toggle="tooltip-right" title="Down_vote answer"
                                      class="glyphicon glyphicon-chevron-down"></span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        {{ answer.answer_text }}
                                    </div>
                                </div>
                                <br>
                            {% endfor %}
                        {% else %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            No answers, yet.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <form class="new_question" action="/forum/new_answer/" method='post'>
                            {% csrf_token %}
                            {{ form.answer_text }}
                            <input type="hidden" value="{{ q.id }}" name="question">
                            {{ form.topic.as_hidden }}
                            <br><input type='submit' class="btn btn-default" value='Submit'/>
                        </form>
                    </div>
                {% endfor %}
            </ul>
        </div>

        {% load staticfiles %}
        <script src="{% static 'forum/js/script.js' %}"></script>

    {% else %}
        <p>No questions are available.</p>
    {% endif %}


{% endblock %}


