{% extends 'forum/base.html' %}
{# set title #}
{% block title %}Index of forum{% endblock %}
{% load filters %}

{# Loads markdown tags #}
{% load dractags %}
{# Loads scripts required for markdown #}


{% block header-button %}
    <div class="left">
        <a class="btn btn-default green_button" href="new_question"
           role="button"
           id="registration_button">Create new
            question</a>
    </div>
{% endblock %}

{% block container-fluid %}
    {#  Script to add explanatory text on hover #}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip-right"]').tooltip({placement: "right"});
        });
    </script>
    <h1>Current subject: {{ topic_name }}</h1> {# Display current subject page #}
    {% if latest_questions_list %} {# Check whether a question in current subject exists #}
        <div id='feed' class="scroll"> {# Set off space for question name list #}
            {# Iterate and show all questions in current subject #}
            <ul>
                {% for q in latest_questions_list %}
                    {# Check if question have been answered, if not, display notification text #}
                    {% if q.answers.all %}
                        <li id='b{{ q.id }}'>{{ q.question_name }}</li>
                    {% else %}
                        <li id='b{{ q.id }}'>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ q.question_name }}
                                </div>
                                <div class="col-md-6">
                                    <label id="notification">New question!</label>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div id='detail' class="scroll"> {# Set off space for question content #}
            <ul>
                {# Iterate over all questions in current subject #}
                {% for q in latest_questions_list %}
                    <div class='initiallyHidden' id='b{{ q.id }}c'>
                        {# Loads all containers and hides them to make sure only one is displayed at a time #}
                        <div class="panel panel-default"> {# Bootstrap predesigned container for content #}
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Question posted by: {{ q.user }}</label>
                                        {# Display name of user who posted question #}
                                        {# Container for buttons #}
                                        <div>
                                            {# Question up vote button #}
                                            <form action="/forum/up_vote/" method="post">
                                                {% csrf_token %}
                                                <div class="circle">
                                                    <input type="hidden" value="{{ q.id }}" name="pk_question">
                                                    <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                                    <button type="submit" class="submit-with-icon">
                    <span data-toggle="tooltip-right" title="Up_vote question"
                          class="glyphicon glyphicon-chevron-up"></span>
                                                    </button>
                                                </div>
                                            </form>
                                            <label id="question-vote-count">&nbsp{{ var|votes:q }}&nbsp</label>
                                            {# Show vote count #}
                                            {# Question down vote button #}
                                            <form action="/forum/down_vote/" method="post">
                                                {% csrf_token %}
                                                <div class="circle">
                                                    <input type="hidden" value="{{ q.id }}" name="pk_question">
                                                    <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                                    <button type="submit" class="submit-with-icon">
                    <span data-toggle="tooltip-right" title="Down_vote question"
                          class="glyphicon glyphicon-chevron-down"></span>
                                                    </button>
                                                </div>
                                            </form>
                                            {% if perms.forum.delete_question %}
                                                {# Check if user is allowed to delete question #}
                                                {# Delete question button #}
                                                <form action="/forum/delete_question_in_index/" method="post">
                                                    {% csrf_token %}
                                                    <div id="delete-button" class="circle">
                                                        <input type="hidden" value="{{ q.id }}" name="pk_question">
                                                        <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                                        <button type="submit" class="submit-with-icon">
                        <span data-toggle="tooltip-right" title="Delete question"
                              class="glyphicon glyphicon-remove"></span>
                                                        </button>
                                                    </div>
                                                </form>
                                            {% endif %}
                                            {% if q.user.username == user.username %}
                                                {# Check if user is allowed to mark question as solved #}
                                                {# Mark as solved button #}
                                                <form action="/forum/mark_as_solved/" method="post">
                                                    {% csrf_token %}
                                                    <div id="mark-as-solved-button" class="circle">
                                                        <input type="hidden" value="{{ q.id }}" name="pk_question">
                                                        <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                                        <button type="submit" class="submit-with-icon">
                                                            {# Check whether question is solved or unsolved #}
                                                            {% if q.question_solved == True %}
                                                                <span id="solved" data-toggle="tooltip-right"
                                                                      title="Undo mark as solved"
                                                                      class="glyphicon glyphicon-ok"></span>
                                                            {% endif %}
                                                            {% if q.question_solved == False %}
                                                                <span id="unsolved" data-toggle="tooltip-right"
                                                                      title="Mark as solved"
                                                                      class="glyphicon glyphicon-ok"></span>
                                                            {% endif %}
                                                        </button>
                                                    </div>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                {{ q.question_text|safe_markdown }} {# Display question content #}
                            </div>
                        </div>
                        {% if q.answers.all %} {# Check whether answer for question exists #}

                            {% for answer in q.answers.all %} {# Iterate over all answers for current question #}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-md-6">
                                                {# Display whether answer is created by student or teacher #}
                                                {% if answer.is_teacher %}
                                                    <label>Answer by teacher: {{ answer.get_user }}</label>
                                                {% else %}
                                                    <label>Answer by student: {{ answer.get_user }}</label>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-6">
                                                <p id="answer-created">Created: {{ answer.answer_created }}</p>
                                                {# Display answer created date #}
                                                <form action="/forum/up_vote_answer/" method="post">
                                                    {% csrf_token %}
                                                    {# Answer up vote button #}
                                                    <div id="up-vote-answer" class="circle">
                                                        <input type="hidden" value="{{ q.id }}" name="pk_question">
                                                        <input type="hidden" value="{{ answer.id }}" name="pk_answer">
                                                        <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                                        <button type="submit" class="submit-with-icon">
                                <span data-toggle="tooltip-right" title="Up_vote answer"
                                      class="glyphicon glyphicon-chevron-up"></span>
                                                        </button>
                                                    </div>
                                                </form>
                                                <label id="answer-votes">&nbsp{{ variable|votes:answer }}&nbsp</label>
                                                {# Answer vote count #}
                                                <form action="/forum/down_vote_answer/" method="post">
                                                    {% csrf_token %}
                                                    {# Answer down vote button #}
                                                    <div id="down-vote-answer" class="circle">
                                                        <input type="hidden" value="{{ q.id }}" name="pk_question">
                                                        <input type="hidden" value="{{ answer.id }}" name="pk_answer">
                                                        <input type="hidden" value="{{ topic_name.id }}" name="topic">
                                                        <button type="submit" class="submit-with-icon">
                                <span data-toggle="tooltip-right" title="Down_vote answer"
                                      class="glyphicon glyphicon-chevron-down"></span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    {# Display answer content #}
                                    <div class="panel-body">
                                        {# Displays answer with markdown formatting #}
                                        {{ answer.answer_text|safe_markdown }}
                                    </div>
                                </div>
                                <br>
                            {% endfor %}
                        {% else %}
                            {# Placeholder if no answers are present #}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-6">
                                            No answers, yet.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {# Submit form for answer #}
                        <button type="submit" id='edit' class="btn btn-default">
                            Answer
                        </button>
                    </div>
                {% endfor %}
                <div id="editor">
                    <div id='editContainer' class="initiallyHiddenEditor">

                        <form class="new_question" action="/forum/new_answer/" method='post'>
                            {% csrf_token %}
                            {# Display answer form with markdown editor #}
                            {{ form.answer_text }}
                            <input type="hidden" value="{{ q.id }}" name="question" id="changeable">
                            {{ form.topic.as_hidden }}
                            <br><input type='submit' class="ui left floated positive button" value='Submit'/>
                        </form>
                    </div>
                </div>
            </ul>
        </div>

        {# Load script for handling hiding and showing question content and redirecting #}
        <script>

            var toggled = "";

            function findGetParameter(parameterName) {
                var result = null,
                    tmp = [];
                location.search
                    .substr(1)
                    .split("&")
                    .forEach(function (item) {
                        tmp = item.split("=");
                        if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                    });
                return result;
            }

            $(function () {

                var field = 'cid';
                var url = window.location.href;
                if (url.indexOf('?' + field + '=') !== -1) {
                    var pk_question = findGetParameter(field);
                    $("#b" + pk_question).css("background-color", "#d3d3d3");
                    $("#b" + pk_question + "c").toggle();
                    toggled = "#b" + pk_question;
                    $("#changeable").val("" + pk_question);
                }

                $("div#feed li").click(function () {
                    var id = "" + this.id;
                    $(toggled + "c").toggle();
                    $("#" + id + "c").toggle();
                    $(toggled).css("background-color", "#e8e8e8");
                    toggled = "#" + id;
                    $(toggled).css("background-color", "#d3d3d3");
                    $("#changeable").val(id.substring(1));

                });

                $("div#editor button").click(function () {
                    $("#" + this.id + "e").toggle();
                });
                $("button#edit").click(function () {
                    $("#editContainer").toggle();
                });
            });


        </script>

    {% else %} {# Display default page if no question exists #}
        <p>No questions are available.</p>
    {% endif %}


{% endblock %}


