{% extends 'forum/base.html' %}
{# Sets title #}
{% block title %}Topics{% endblock %}
{% block head %}
{# Css for table and search box #}
<style>
    * {
        box-sizing: border-box;
    }

    #searchFunc {

        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    .inner-addon {
        position: relative;
    }

    /* style icon */
    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

    /* align icon */
    .left-addon .glyphicon {
        left: 5px;
        top: 5px;
    }

    .right-addon .glyphicon {
        right: 0px;
    }

    /* add padding  */
    .left-addon input {
        padding-left: 30px;
    }

    .right-addon input {
        padding-right: 30px;
    }

    #topicTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }

    #topicTable th, #topicTable td {
        text-align: left;
        padding: 12px;
    }

    #topicTable tr {
        border-bottom: 1px solid #ddd;
    }

    #topicTable tr:hover {
        background-color: #b2e8ff;
    }

    #topicTable tr.header {
        background-color: #d3d3d3;
    }
</style>
{% endblock %}

{% block header-button %}
<div class="left">
    {% if perms.forum.delete_question %}
    <a class="btn btn-default" style="height:2.2em;display:inline;" href="new_topic" role="button">Create new topic</a>
    {% endif %}
</div>
{% endblock %}

{% block container-fluid %}
<h2>Topics</h2>
{% if topics_list %}
<div class="inner-addon left-addon">
    <i class="glyphicon glyphicon-search"></i>
    <input type="text" id="searchFunc" onkeyup="searchFunction()" placeholder="Search for subjects.."
           title="Type in a name">
</div>
<table id="topicTable">
    <tr class="header">
        <th style="width:20%;">Subject code</th>
        <th style="width:90%;">Subject name</th>
    </tr>
    {% for topic in topics_list %}
    <tr>
        <td>
            <a href="/forum/topics/{{ topic.id }}" style="color:#0f0f0f;text-decoration:none" >
                <div style="height:100%;width:100%" id="t{{ topic.id }}">
                    {{ topic.topic_name }}
                </div>
            </a>
        </td>
        <td>
            <a href="/forum/topics/{{ topic.id }}" style="color:#0f0f0f;text-decoration:none">
                <div style="height:100%;width:100%">
                    {{ topic.topic_desc }}
                </div>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>


{#Search script for searching in table#}
<script>
    function searchFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("searchFunc");
        filter = input.value.toUpperCase();
        table = document.getElementById("topicTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            td2 = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1 || td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

{% else %}
{#Displays default no topic page#}
<p>No created topic.</p>
{% endif %}


{% endblock %}