<!DOCTYPE html>
<html lang="en"> {# Sets html language to English #}
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% load staticfiles %} {# jinja logic to reference static files #}
    {# Loads bootstrap css #}
    <link rel='stylesheet' href="{% static 'forum/css/bootstrap.min.css' %}" type="text/css">
    {# Loads style for markdown editor #}
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'plugins/css/semantic.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'draceditor/css/draceditor.css' %}" type="text/css" media="all" rel="stylesheet"/>
    {# Load jquery #}
    <script src="{% static 'forum/js/jquery-3.1.1.min.js' %}"></script>

    {# Loads css #}
    <link rel='stylesheet' href="{% static 'forum/css/base_login.css' %}" type="text/css">
    {# Loads jquery #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {# Loads bootstrap javascript #}
    <script src="{% static 'forum/js/bootstrap.min.js' %}"></script>
</head>
<body class="body body_color">
{# Placeholder for forms #}
<div class="center">
    {% block content %}
    {% endblock %}
</div>

<script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/semantic.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
<script type="text/javascript" src="{% static 'draceditor/js/draceditor.js' %}"></script>
</body>
</html>