{% extends 'registration/base_login.html' %}
{# Sets title #}
{% block title %}Register{% endblock %}
{% block content %}
    <h2 class="text_nowrap">Create account</h2>
    {# Displays errors #}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    {# Creates form #}
    <form class="new_question" method='post'>
        {% csrf_token %}

        <label>Username: </label>
        {{ form.username }}
        <p>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
        <label>Email-address: </label>
        {{ form.email }}
        <p>Please use your ntnu email when registering.</p>
        <label>Password: </label>
        {{ form.password }}
        <br><input class="btn btn-default" type='submit' id="register_button" value='Submit'/>
    </form>



{% endblock %}